.circle-container {
    position: relative;
    overflow: hidden;
}

.landing-btn-bg {
    background-color: #212121;
}

.circle-container {
    background-color: #212121;
    cursor: none;
}

.circle {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f93d09;
    animation: expandCircle 1s forwards;
}

.torch {
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f93d09;
    cursor: none;
}

@keyframes expandCircle {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(30);
        opacity: 1;
    }
}